body {
  padding: 30px 30px;
  text-align: center;
  background-color: #ADD8E6;
  font-family: Arial, sans-serif;
}

header {
  background-color: #000080;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
}

.mainNav {
  text-decoration: none;
  color: #FFD700;
  background-color: #663399;
  border: 1px solid #663399;
}

.mainNav:hover {
  background: white;
  color: #000080;
}

.mainNav:active {
  background: white;
  color: #000080;
}

h1 {
  color: #007F3F;}
h2 {
    color:#007F3F;
}
hr {
    padding: 2px;
    border-color: #007F3F;
    border-width: 2px;
    border-top-right-radius: 2px;
    border-style: groove;
    background-color: #007F3F;
}
  /* Center login form on the page */
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .calc {
    text-align: center;
    color: #007F3F;
    font-weight:bold;
  }
  .buttonCalc{
      background-color: #007F3F; /* Green */
      border: none;
      color: rgb(8, 3, 15);

      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }


  /* Style the input fields and buttons */
  input[type="text"], input[type="password"] {
    padding: 1px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
  }

  button {
    background-color: #020502;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
  }

  /* Style the login form header */
  .login nav{
    color: #000000;
    margin-bottom: 0px;
  }

  /* Style error messages */
  .error-message {
    color: #ff0000;
    margin-top: 10px;
  }

  /* Style success messages */
  .success-message {
    color: #007F3F;
    margin-top: 10px;
  }

  header {
    text-align: center;
  }

.table-wrapper{
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #dad7d7e1;
  font-size: 12px;
}

.fl-table thead th {
  color: #000000;
  background: #ADD8E6;
}

.fl-table tr:nth-child(even) {
  background: #dad7d7e1;
}

  /* View Expenses Button */
.buttonExp{
  display:inline-block;
  padding:0.2em 1.45em;
  margin:0.1em;
  border: 1px solid #663399;
  box-sizing: border-box;
  text-decoration:none;
  font-size: 18px;
  font-weight:400;
  color: #FFD700;
  background: #663399;
  text-align:center;
  position:relative;
  width: auto;
}

.buttonExp:hover{
  background: white;
  color: #000080;
}

.buttonExp:hover{
  border-color:#7a7a7a;
}

.buttonExp:active{
  background-color:#999999;
}

@media all and (max-width:30em){
  .buttonExp{
    display:block;
    margin:0.2em auto;
    }
    }


/* Input Styling for View Exp */
input.inputExp[type=text],
input.inputExp[type=number],
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: none;
  font-size: 16px;
  color: #333;
  width: 100%;
  max-width: 250px;
  margin-bottom: 15px;
}

input.inputExp[type=text]:focus,
input.inputExp[type=number]:focus,
select:focus {
  outline: none;
  border-color: #6ac5b9;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 400px;
  max-width: 400px;
  padding-top: 9px;
  padding-bottom: 9px;;
}

.table-sortable th {
	cursor: pointer;
}

.table-sortable .th-sort-asc::after {
	content: "\25b4";
}

.table-sortable .th-sort-desc::after {
	content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
	margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
	background: rgba(0, 0, 0, 0.1);
}