<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Savings Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='calculator.js') }}"></script>
</head>

<body>
    {% extends "template.html" %}
    {% block content %}

    <div class="calc">
        <h1>Savings Calculator</h1>
            <form name="calcForm">
                <label for="cost">Enter how much you want to save up:</label>
                <input type="number" id="cost" name="cost"><br><br>
  
                <label for="income">Enter your net daily income (after expenses):</label>
                <input type="number" id="income" name="income"><br><br>
  
                <button type="button" onclick="displayResult()" class="buttonExp">Calculate</button>
            </form>
      <div id="result"></div>
    </div>
    {% endblock %}
</body>
</html>