<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="BudgetAll">
        <title>BudgetAll</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}

        <div class="formwrapper">
            <h2 class="title">Set Balance</h2>
            <form method="POST">
                <div class="form-field">
                    {{ form.balance.label }} {{ form.balance }}
                    {% if form.balance.errors %}
                        <ul class="errors">
                            {% for error in form.balance.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                {{ form.submit }}
            </form>
        </div>
        {% endblock %}
    </body>
</html>