<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
   <meta charset="utf-8">
   <title>Flask Parent Template</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
 </head>
 <body>
    <header>
      <div class="navdiv">
        <nav>
            <a href="{{ url_for('index') }}" class="mainNav">Home</a> 💰
            <a href="{{ url_for('calculator')}}" class="mainNav">Calculator</a>
        </nav>
        </div>
        <br>
    {% if user %}
        <nav>
            <a href="{{ url_for('set_balance') }}" class="mainNav">Update Balance</a> 💰
            <a href="{{ url_for('set_income') }}" class="mainNav">Update Income</a> 💰
            <a href="{{ url_for('view_expenses')}}" class="mainNav">View Expenses</a> 💰
            <a href="{{ url_for('purchases')}}" class="mainNav">purchases</a> 💰
            <a href="{{ url_for('total_income') }}" class="mainNav">Total Income Calculator</a> 💰
            <a href="{{ url_for('logout') }}" class="mainNav">Logout</a> 💰

        </nav>
        <br>
    {% else %}
        <nav>
            <a href="{{ url_for('login') }}" class="mainNav"> Sign In</a> 💰
            <a href="{{ url_for('register') }}" class="mainNav">Register</a>
        </nav>
    {% endif %}
    </header>
    
    {% block content %}
    {% endblock %}
    
 </body>
</html>