<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="BudgetAll">
        <title>BudgetAll</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
    <body>
        <header>
            <div class="navdiv">
                <nav>
                    <a href="{{ url_for('index') }}">Home</a> $$
                    <a href="{{ url_for('calculator')}}">Calculator</a> 
                </nav>
            </div>
            <br>
        {% if user %}
            <nav>
                <a href="{{ url_for('set_balance') }}">Update Balance</a> $$
                <a href="{{ url_for('set_income') }}">Update Income</a> $$
                <a href="{{ url_for('view_expenses')}}">View Expenses</a> $$
                <a href="{{ url_for('total_income') }}">Update Balance</a> $$
                <a href="{{ url_for('logout') }}">Logout</a> 
            </nav>
            <br>
        {% else %}
            <nav>
                <a href="{{ url_for('login') }}"> Sign In</a> $$
                <a href="{{ url_for('register') }}">Register</a>
            </nav>
        {% endif %}
        </header>
        <hr>
        <h1>View Expenses</h1>
        <hr>
        <button id="add-expense-btn" class="buttonExp" type="button">Add Expense</button>

        <div id="add-expense-modal" style="display: none;"> 
            <form action="{{ url_for('add_expenses') }}" method="post">
                <label>Expense Description:</label>
                <input type="text" class = "inputExp" name="expense_description" required><br>
                <label>Expense Amount:</label>
                <input type="number" class = "inputExp" step="0.01" name="expense_ammount" min="0"><br>
                <label>Expense Category:</label>
                <input type="text" class = "inputExp" name="expense_category" required><br>
                <button type="submit" class="buttonExp">Create Expense</button>
            </form>
        </div>

        <script>
            $(document).ready(function() {
                $('#add-expense-btn').click(function() {
                    $('#add-expense-modal').show();
                });

                $('#add-expense-modal').click(function(e) {
                    if (e.target.id == 'add-expense-modal') {
                        $(this).hide();
                    }
                });
            });
        </script>

        {% if expenses %}
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Ammount</th>
                    <th>Category</th>
                </tr>
                </thead>
                <tbody>
                {% for expense in expenses %}
                <tr>
                    <td>{{ expense.id }}</td>
                    <td>{{ expense.exp_name }}</td>
                    <td>{{ expense.exp }}</td>
                    <td>{{ expense.exp_cat }}</td>
                </tr>
                {% endfor %}
                <tbody>
            </table>
        </div>
        {% endif %}
        <div><img class ="hppic" src= "https://www.mymoneycoach.ca/sites/default/files/balancing-budget-rocks.jpg" alt="save"></div>
    </body>
</html>